<div style="border:1px solid red">

    <div id="left">
        
        
        <p>
                <h4>India plays host to a sizeable population of birds and the best places to sight these amazing creatures are the various bird sanctuaries situated in almost all the states in the country. The varied topography and climate are the factors that make India one of the largest breeding grounds in the world. About 1200 species of birds are found in India (including migratory birds) making it a paradise for birdwatchers and ornithologists. If you are also someone who takes keen interest in birdwatching and enjoy the chirp and flight of birds, then the list here can be of great help to you.</h4>

        </p>
</div>
</div>
