<!--The content below is only a placeholder and can be replaced.-->



<div id="header">
                
    <h1>BIRDWATCHING&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-top:2px;" src="/home/css/Downloads/eagle.jpg"  width="50px" height="50px"></h1> &nbsp;  <br>
    <div id="navigation">
            <a  href="">HOME</a>
            <a href="">GET STARTED</a>
            <a href="">PHOTOS</a>
            <a href="">GEAR</a>
          </div>
          <app-home></app-home>
          <app-about></app-about>
          </div> 
  


<router-outlet></router-outlet>
