<!--The content below is only a placeholder and can be replaced.-->
<div style="border:2px solid gray ;text-align:center ">
  <h1>
     
    Client Data
  </h1>

  <form form [formGroup]="clientdata" class="client">
    <table cellpadding="20"  cellspacing="30" border="2">
      <tr><td>Name</td><td>Gender</td><td>Adress</td><td>Mobile number</td><td>Mail-id</td></tr>
      <tr><td>   </td><td>  </td><td>  </td><td>  </td><td>  </td></tr>
     
      
    </table>
  </form>

</div>

<nav>
    <a routerLink="/clientmodule " routerLinkActive="active">clientmodule</a>
   
  </nav>
<router-outlet>  </router-outlet>