<!--The content below is only a placeholder and can be replaced.-->

  <h1>
     
    Client Data
  </h1>

  <form form [formGroup]="clientdata" class="client">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Client Name</th>
          <th scope="col">Project Name</th>
          <th scope="col">Order Value</th>
          <th scope="col">Contract Signed Date</th>
          <th scope="col">Start Date</th>
          <th scope="col">Payment Term</th>
          
          
          
        </tr>
      </thead>
      <tbody>
        
       </tbody>

    </table>
  </form>
  

<nav>
    <a routerLink="/clientmodule " routerLinkActive="active">clientmodule</a>
   
  </nav>
<router-outlet>  </router-outlet>
